{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		
		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color palette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
						var white = hit.item.fillColor.red === 1 && hit.item.fillColor.blue === 1 && hit.item.fillColor.green === 1;
						// console.log(white);
						if (white) {
							hit.item.fillColor = cp.history[cp.history.length - 1];
						} else {
							hit.item.fillColor = "#ffffff";
						}
				        
				    }
				}
			}


			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}
			
			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
	<button onclick = "location.href = 'fullscreen'"> <img src = "../../static/coloring/images/fullscreen.png" alt = "fullscreen"
		width = 24px height = 24px></button>
	<button onclick = "window.location.reload();"> <img src = "../../static/coloring/images/reset.png" alt = "reset" 
		width = 24px height = 24px> </button> 

</body>
</html>